<h1>Reset Password</h1>  
  
<%= form_for password_resets_verified_path(params[:token]) do %>    
  <div class="field">  
    <%= label_tag :password %>  
    <%= password_field_tag :password %>  
  </div>  
  <div class="field">  
    <%= label_tag :password_confirmation %>  
    <%= password_field_tag :password_confirmation %>  
  </div>  
  <div class="actions"><%= submit_tag "Update Password" %></div>  
<% end %> 