<div class="">
    <!-- <h5>Already Donated? <%#= link_to 'Click here to receive your password by email', session %></h5> -->

  <h3>Signup to be a donor</h3>

  <%= form_for @donor do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Full Name" %>

    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email" %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %>


    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

    <%= f.submit %>

  <% end %>

</div>
