<div class="lots-of-margin"></div>
<div class="row">
  <div class="small-12 large-8 large-centered columns">
    <h2><%= @donor.name %></h2>
    <%= link_to 'View current campaign', :root %>
    <%= link_to 'View all candidates', candidates_path %>
    <%= link_to 'View current candidate profile', candidate_path(current_campaign.candidate) %>
    <div class="panel">
      <h3>Current Nomination</h3>
      <% if @donor.nomination_available? %>
        <h6><%= link_to "You have a nomination available, nominate someone!", candidates_path %></h6>
      <% else %>
        <% if !@donor.current_campaign_donation? %>
          <h5>You have no donation for the current campaign. Please make a donation for this campaign in order to nominate the next scholarship recipient!</h5>
          <div class="small-6 columns">
            <a href="#" class="button success radius" data-reveal-id="payment-modal">Donate</a>
          </div>
        <% else %>
          <h6>You have already nominated someone for this campaign!</h6>
          <p><%= link_to "Visit Your Nominee's Profile Now", candidate_path(@donor.nominations.last.candidate) %></p>
        <% end %>
      <% end %>
    </div>

    <div class="panel">
      <h3>Recent Donations</h3>
      <% if @donations && @donations.any? %>
        <table class="full-width">
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Beneficiary</th>
          </tr>
        <% @donations.each do |donation| %>
          <tr>
            <td><%= donation.created_at.strftime("%m/%d/%y") %></td>
            <td>$ <%= donation.amount %></td>
            <td><%= link_to donation.candidate.name, candidate_path(donation.candidate) %></td>
          </tr>
        <% end %>
        </table>
      <% else %>
      <h4>It looks like you haven't donated yet...</h4>
      <div>Donate Now</div>
      <% end %>
    </div>

    <div class="panel">
      <h3>Candidates You've Nominated</h3>
      <% if @nominations && @nominations.any? %>
        <table class="full-width">
          <tr>
            <th>Date</th>
            <th>Name</th>
          </tr>
        <% @nominations.each do |nomination| %>
          <tr>
            <td><%= nomination.created_at.strftime("%m/%d/%y") %></td>
            <td><%= link_to nomination.candidate.name, candidate_path(nomination.candidate) %></td>
          </tr>
        <% end %>
        </table>
      <% else %>
      <h4>It looks like you haven't nominated anyone yet...</h4>
        <% if @donor.nomination_available? %>
          <%= link_to "Checkout the candidates and nominate someone!", candidates_path %>
        <% else %>
          <h5>Please make a donation for this campaign in order to nominate the next scholarship recipient!</h5>
          <div class="small-6 columns">
            <a href="#" class="button success radius" data-reveal-id="payment-modal">Donate</a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
