<div class="fixed">

<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Adopt-a-Coder", root_path, class: "logo-type" %></h1></li>
  </ul>
  <section class="top-bar-section">
  <ul class="right">
      <li><a href="#" class="button success radius" data-reveal-id="payment-modal">Donate</a></li>
      <li class="divider"></li>
  <% if logged_in? %>
    <% if current_user_candidate %>
      <li><%= link_to current_user.name, candidate_path(current_user) %></li>
      <li><%= link_to "Edit Profile", edit_candidate_path(current_user) %></li>
      <% if current_user.application.complete %>
      <li><%= link_to "My Application", candidate_application_path(current_user, current_user.application) %></li>
      <% else %>
      <li><%= link_to "My Application", edit_candidate_application_path(current_user, current_user.application) %></li>
      <% end %>
    <% else %>
      <li><%= link_to current_user.name, donor_path(current_user) %></li>
    <% end %>
      <li><%= link_to "Logout", logout_path %></li>
  <% else %>
      <li class="has-dropdown"><a href>Login</a>
        <ul class="dropdown">
          <div class="login-fields">
          <%= form_tag login_path, class: "login-nav" do %>
            <li><%= label_tag :email %></li>
            <li><%= email_field_tag :email, nil, placeholder: "email@example.com" %></li>
            <li><%= label_tag :password %></li>
            <li><%= password_field_tag :password, nil, placeholder: "password" %></li>
            <li><%= submit_tag "Login", class: "button radius" %></li>
          <% end %>
        </div>
        </ul>
      </li>
      <li><%= link_to "Sign Up!", signup_path, "data-reveal-id" => "signup-modal" %></li>
  <% end %>
    </ul>
  </section>
</nav>

</div>
