<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><a href="#about">How it works</a></li>
    <li><a href="#current_candidates" >Recent Candidates</a></li>
    <li><a href="#recent_donors" >Recent Donors</a></li>
    <li><a href="#past_campaigns" >Past Campaigns</a></li>
    <li><a href="#faq">FAQ</a></li>
  </ul>
  <div>
    Donate
  </div>
  <% if logged_in? %>
    <%= current_user.name %>
    <ul>
      <% if current_user_candidate %>
        <li>Profile</li>
        <li>Application</li>
      <% else %>
        <li>Profile</li>
        <li>Your Nominees</li>
      <% end %>
    </ul>
    <div>
      <%= link_to "Logout", logout_path %>
    </div>
  <% else %>
    <%= form_tag login_path do %>
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, placeholder: "email@example.com" %>

      <%= label_tag :password %>
      <%= password_field_tag :password, nil, placeholder: "password" %>

      <%= submit_tag "Login" %>
    <% end %>


    Sign Up!
  <% end %>
</nav>
