<div class="container">

  <div>
    <%= render "campaigns/current" %>
  </div>

  <div>
    <%= render "donate_form"  %>
  </div>

  <div id="about">
    <%= render "about" %>
  </div>

  <div id="current_candidates">
    <%= render "candidates/group_six" %>
  </div>

  <div id="recent_donors">
    <%= render "donors/recent" %>
  </div>

  <div id="past_campaigns">
    <%= render "campaigns/past" %>
  </div>

  <div id="faq">
    <%= render "faq" %>
  </div>

</div>
