<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><a href="#about">How it works</a></li>
  <li><a href="#current_candidates" >Recent Candidates</a></li>
  <li><a href="#recent_donors" >Recent Donors</a></li>
  <li><a href="#past_campaigns" >Past Campaigns</a></li>
  <li><a href="#faq">FAQ</a></li>
</ul>

<div class="container">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <div>
    <%= render "campaigns/current" %>
  </div>

  <div>
    <%= render "donate_form"  %>
  </div>

  <div id="about">
    <%= render "about" %>
  </div>

  <div id="current_candidates">
    <%= render "candidates/group_six" %>
  </div>

  <div id="recent_donors">
    <%= render "donors/recent" %>
  </div>

  <div id="past_campaigns">
    <%= render "campaigns/past" %>
  </div>

  <div id="faq">
    <%= render "faq" %>
  </div>

</div>
