<div class="container">

  <div>
    <%= render "campaigns/current" %>
  </div>

  <div>
    <%= render "donate_form"  %>

  <div>
    <%= render "about" %>
  </div>

  <div>
    <%= render "candidates/group_six" %>
  </div>

  <div>
    <%= render "donors/recent" %>
  </div>

  <div>
    <%= render "campaigns/past" %>
  </div>

  <div>
    <%= render "faq" %>
  </div>

</div>
