<div class="">
  <table class="full-width full-height special">
    <tr>
      <td colspan=4><h4>Application Status</h4></td>
    </tr>
    <tr>
      <td>Step:</td>
      <td>To Do:</td>
      <td>Status:</td>
    </tr>
    <% if !current_application.complete %>
      <tr>
        <td>1</td>
        <td><%= link_to edit_candidate_path(current_user) do %>
            <i class="fa fa-edit icon-small dark-text"></i> Profile
          <% end %>
        </td>
        <td><%= number_to_percentage(current_user.profile_percent_completed, precision: 0) %> Complete</td>
      </tr>
      <tr>
        <td>2</td>
        <td><%= link_to edit_candidate_application_path(current_user, current_user.application) do %>
            <i class="fa fa-edit icon-small dark-text"></i> Application
          <% end %>
        </td>
        <td><%= number_to_percentage(current_user.application.response_percent_completed, precision: 0) %> Complete</td>
      </tr>
      <tr>
        <td>3</td>
        <td id="application-submitter"><%= link_to candidate_application_submit_path, {id: 'submit-application'} do %>
          <i class="fa fa-book icon-small dark-text"></i> Submit Application
          <% end %>
        </td>
        <td id="application-status">Not Completed</td>
      </tr>
    <% else %>
      <tr>
        <td>1</td>
        <td>Profile</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>2</td>
        <td><%= link_to 'Application', candidate_application_path(current_user, current_user.application) %></td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Submit Application</td>
        <td>Completed</td>
      </tr>
      <% end %>
  </table>
</div>

<div id="dialog-application-submit" title="Confirm Submission?">
  <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Please note an application cannot be edited after submission. Are you sure you want to submit your application?</p>
</div>
