<div>
  <div>
    <h6><%= @responses[0].question.body %></h6>
    <p><%= @responses[0].body %></p>
  </div>
   <div>
    <h6><%= @responses[2].question.body %></h6>
    <p><%= @responses[2].body %></p>
  </div>
  <div>
    <h6><%= @responses[3].question.body %></h6>
    <p><%= @responses[3].body %></p>
  </div>
</div>
