<div class="small-12 columns">
  <div class="panel">
    <%= form_for current_user do |f| %>
      <%= f.label :mission %>
      <%= f.text_area :mission %>
      <%= f.label :biography %>
      <%= f.text_area :biography %>
      <%= f.label :currently_working_on %>
      <%= f.text_area :currently_working_on %>
      <%= f.submit "Update About Me" %>
    <% end %>
  </div>
</div>
