<div id= "profile_media_files_edit" class="small-12 columns">
  <div class="panel">
    <h3>Profile  Media Files</h3>
    <%= form_for([current_user, @video]) do |f| %>
      <%= f.label :url, "Please add a link to your video" %>
      <%= f.text_field :url %>
      <%= f.submit "Update Media Files" %>
    <% end %>

    <%= form_for([current_user, @image]) do |f| %>
      <%= f.label :url, "Please add a link to an additional image" %>
      <%= f.text_field :url %>
      <%= f.submit "Update Media Files" %>
    <% end %>
  </div>
</div>
