<div id= "social_media_edit" class="small-6 columns">
    <div class="panel">
      <h3>Update Social Media Info</h3>
      <%= form_for current_user do |f| %>
        <%= f.label :twitter %>
        <%= f.text_field :twitter %>
        <%= f.label :facebook %>
        <%= f.text_field :facebook %>
        <%= f.label :linked_in %>
        <%= f.text_field :linked_in %>
        <%= f.label :codeacademy %>
        <%= f.text_field :codeacademy %>
        <%= f.label :github %>
        <%= f.text_field :github %>
        <%= f.label :blog %>
        <%= f.text_field :blog %>
        <%= f.label :personal_url %>
        <%= f.text_field :personal_url %>
        <%= f.submit "Update Social Media" %>
      <% end %>
    </div>
</div>
