<div class="">
  <table class="full-width full-height">
    <thead>
      <td colspan=2>
        <%= link_to edit_candidate_path(current_user) do %>
          <i class="fa fa-edit icon-medium dark-text right icon-margin"></i>
        <% end %>
        <h4>Personal Information</h4>
      </td>
    </thead>
    <tr>
      <td>Email:</td>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= current_user.phone %></td>
    </tr>
    <tr>
      <td>Address1:</td>
      <td><%= current_user.address1 %></td>
    </tr>
    <tr>
      <td>Address2:</td>
      <td><%= current_user.address2 %></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><%= current_user.city %></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><%= current_user.state %></td>
    </tr>
    <tr>
      <td>Zip:</td>
      <td><%= current_user.zip %></td>
    </tr>
  </table>
</div>
