<div>
  <table>
    <tr>
      <td colspan=0><h4>Social Media</h4></td>
    </tr>
    <% form_tag %>
    <tr>
      <td><%= link_to "Update Links" %></td>
    </tr>
    <tr>
      <td>Code Academy:</td>
      <td><%= text_field_tag 'query', 'Enter your search query here'%></td>
      <td></td>
    </tr>
    <tr>
      <td>LinkedIn:</td>
      <td><%= link_to current_user.linked_in, target: '_blank' if current_user.linked_in %></td>
      <td></td>
    </tr>
    <tr>
      <td>Github:</td>
      <td><%= link_to current_user.github, target: '_blank' if current_user.github %></td>
      <td></td>
    </tr>
    <tr>
      <td>Twitter:</td>
      <td><%= link_to current_user.twitter, target: '_blank' if current_user.twitter %></td>
      <td></td>
    </tr>
    <tr>
      <td>Facebook:</td>
      <td><%= link_to current_user.facebook, target: '_blank' if current_user.facebook %></td>
      <td></td>
    </tr>
    <tr>
      <td>Personal Blog:</td>
      <td><%= link_to current_user.blog, target: '_blank' if current_user.blog %></td>
      <td></td>
    </tr>
    <tr>
      <td>Personal Url:</td>
      <td><%= link_to current_user.personal_url, target: '_blank' if current_user.personal_url %></td>
      <td></td>
    </tr>
