<div>
  <table>
    <tr>
      <td colspan=0><h4>Personal Information</h4></td>
    </tr>
    <tr>
      <td><%= link_to "Update Personal Information", edit_candidate_path(current_user) %></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= current_user.phone %></td>
      <td></td>
    </tr>
    <tr>
      <td>Address1:</td>
      <td><%= current_user.address1 %></td>
      <td></td>
    </tr>
    <tr>
      <td>Address2:</td>
      <td><%= current_user.address2 %></td>
      <td></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><%= current_user.city %></td>
      <td></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><%= current_user.state %></td>
      <td></td>
    </tr>
    <tr>
      <td>Zip:</td>
      <td><%= current_user.zip %></td>
      <td></td>
    </tr>
  </table>
</div>
