<div>
<!--   <h4>Profile Media</h4>
    <%= form_for(current_user, html: {multipart: true}) do |f| %>
      <%= f.label :images, "Profile Image" %>
      <%= image_tag current_user.profile_image %>
      <%= f.file_field :images, :multiple => true %>
      <%= f.url_field :images %>
      <%= f.submit %>
    <% end %>
 -->


</div>
