<div>
  <h4 class="centerg">Social</h4>
  <ul class="side-nav center">
    <% if @candidate.codeacademy %>
      <li><%= link_to @candidate.codeacademy do %>
      <i class="fa fa-code icon-large dark-text"></i>
      <% end %>
    </li>
    <% end %>

    <% if @candidate.facebook %>
      <li><%= link_to @candidate.facebook do %>
      <i class="fa fa-facebook icon-large dark-text"></i>
      <% end %>
    </li>
    <% end %>

    <% if @candidate.twitter %>
      <li><%= link_to @candidate.twitter do %>
        <i class="fa fa-twitter icon-large dark-text"></i>
      <% end %>
    </li>
    <% end %>

    <% if @candidate.github %>
      <li><%= link_to @candidate.github do %>
        <i class="fa fa-github icon-large dark-text"></i>
      <% end %>
    </li>
    <% end %>

    <% if @candidate.linked_in %>
      <li><%= link_to @candidate.linked_in do %>
        <i class="fa fa-linkedin icon-large dark-text"></i>
      <% end %>
    </li>
    <% end %>

    <% if @candidate.blog %>
      <li><%= link_to "#{@candidate.blog}" do %>
        <i class="fa fa-quote-left icon-large dark-text"></i>
      <% end %>
    </li>
    <% end %>

    <% if @candidate.personal_url %>
      <li><%= link_to @candidate.personal_url do %>
        <i class="fa fa-home icon-large dark-text"></i>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
