<h1>Profile Page</h1>

<h2><%= current_user.name %>, <%= current_user.id %></h2>

<table>
  <tr>
    <td>To Do:</td>
    <td>Status:</td>
  </tr>
  <% if !current_application.complete %>
    <tr>
      <td><%= link_to 'Application Form', edit_candidate_application_path(current_user, current_user.application) %></td>
      <td>Incomplete</td>
    </tr>
    <tr>
        <td><%= link_to 'Submit Application', candidate_application_submit_path, method: :post, data: { confirm: 'Are you sure? You cannot edit your application after submission.' } %></td>
        <td>Not Submitted</td>
    </tr>
  <% else %>
    <tr>
      <td><%= link_to 'Application', candidate_application_path(current_user, current_user.application) %></td>
      <td>Completed</td>
    </tr>
    <tr>
        <td>Already</td>
        <td>Submitted</td>
    </tr>
  <% end %>
</table>

<%= render "candidates/edit_personal_info" %>
<%= render "candidates/edit_social_media" %>
<%= render "candidates/edit_about_me" %>

