<div class="container">
  <%= link_to 'Create Profile', new_candidate_path %>

  <%= form_for login_path, :id => "login" do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder:"Email" %>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder:"Password" %>
  <%= f.submit "Login" %>
  <% end %>
</div>
