 <div class="lots-of-margin"></div>


  <div class="row">
    <div class="small-12 large-6 large-centered columns panel">
      <h3 class="center">Sign up to be a candidate!</h3>

      <%= form_for @candidate do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Full Name" %>

        <%= f.label :email %>
        <%= f.email_field :email, placeholder:"Email" %>

        <%= f.label :password %>
        <%= f.password_field :password, placeholder:"Password" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

        <div class="center">
          <%= f.submit "Create Candidate Profile", class: "button" %>
        </div>

      <% end %>
    <p><%= link_to "Looking to support the candidates?", new_donor_path %> </p>
    </div>


  </div>

