<div class="row">
  <div class="small-12 columns">
    <h2><%= current_user.name %></h2>
  </div>

  <div>
    <%= link_to 'View Public Profile', candidate_path(current_user) %>
  </div>

  <div>
    <%= render 'candidates/application_table' %>
  </div>

  <div>
    <%= render 'candidates/profile_fields_sm' %>
  </div>

  <div>
    <%= render 'candidates/profile_fields_am' %>
  </div>

  <div>
    <%= render 'candidates/profile_fields_pi' %>
  </div>

  <div>
    <%= render 'candidates/profile_media_files' %>
  </div>

</div>
