<div class="row">
  <div class="small-12 columns">
    <h2><%= current_user.name %></h2>
  </div>

  <%= render 'candidates/application_table' %>

  <div>
    <%= render 'candidates/profile_fields_sm' %>
  </div>

  <div>
    <%= render 'candidates/profile_fields_am' %>
  </div>

  <div>
    <%= render 'candidates/profile_fields_pi' %>
  </div>

</div>
