<h1><%= @candidate.name %>'s Profile</h1>

<div>
  <%= image_tag(Image.find(@candidate.profile_photo_id).url, size: "350", alt: "Image of #{@candidate.name}") %>
  <h4><%= @candidate.name %></h4>
  <h6><%= @candidate.mission %></h6>
  <p><%= @candidate.biography %></p>
</div>
<div>
  <%= link_to 'Nominate!', nominations_path(@candidate), method: :post, data: { confirm: 'Are you sure? You are only allowed 1 nomination per campaign.' } %>
</div>

<div>
  <h3>Mission Statement</h3>
  <p><%= @candidate.mission %></p>
</div>


<div>
  <h3>Biography</h3>
  <p><%= @candidate.biography %></p>
</div>

<div>
  <%= render "social_media" %>
</div>

<div>
  <%= render "application_highlights" %>
</div>

