<!-- Current Campaign Partial -->
<div class="">
  <div class="row">
    <div class="small-12 columns">

    </div>
    <div class="small-12 columns">
      <div class="panel">
        <div class="row">
          <div class="small-12 large-3 columns">
            <div class="crop"><p><%= image_tag current_campaign.candidate.profile_image.url, width: "100%" %></p>
            </div>
          </div>
          <div class="small-12 large-4 columns">
            <h5 class="subheader center">Currently funding</h5>
            <h2 class="candidate-title center"><%= current_campaign.candidate.name %></h2>
            <h5 class="subheader center">to change her life.</h5>
            <div class="">
              <h5 class="subheader center no-margin no-padding">Time Remaining</h5>
              <ul class="countdown">
                <li> <span class="days">00</span>
                <p class="days_ref ">days</p>
                </li>
                <li class="seperator">.</li>
                <li> <span class="hours">00</span>
                <p class="hours_ref ">hours</p>
                </li>
                <li class="seperator">:</li>
                <li> <span class="minutes">00</span>
                <p class="minutes_ref ">minutes</p>
                </li>
                <li class="seperator">:</li>
                <li> <span class="seconds">00</span>
                <p class="seconds_ref ">seconds</p>
                </li>
              </ul>
            </div>

            <div class="row">
              <div class="small-12 columns">   
                <div class="progress primary round">
                  <span class="meter" style="width: <%= current_campaign_percentage %>%"><span style="margin-left: 70%"><%= current_campaign_percentage.to_i %>%</span></span>

                </div>
              </div>
            </div>

          </div>
          <div class="small-12 large-5 columns">
            <div class="">
              <blockquote><%= current_campaign.candidate.mission %></blockquote>
              <h5 class="subheader"><%= link_to 'Read my story >', candidate_path(current_campaign.candidate), class: "right no-margin" %></h5>
            </div>
              
          </div>
        </div>
      </div>
    </div>
    
    <!-- CONTENT CONTAINER -->
    <div class="small-12 large-6 push-6 columns">
      <div class="panel ">

      <div class="">
        <span class="dollars left">$ <%= current_campaign.total %></span>
        <span class="dollars right">$ <%= current_campaign.goal %></span>   
      </div>

      <div class="row">
        <div class="small-12 large-4 large-uncentered columns little-bit-of-bottom-margin ">
          <a href="#" class="button radius no-margin" data-reveal-id="payment-modal">Donate</a>
        </div>
        <!-- SOCIAL CONTAINER -->
        <div class="small-12 large-8 columns little-bit-of-bottom-margin ">
          <ul class="button-group center no-padding">

            <!-- TWITTER -->
            <li class="small button panel-color no-padding">
              <div>
                <a href="https://twitter.com/share?text=This coder inspires me! Read their story... http://bit.ly/1bPcb7p&hashtags=adoptacoder%2Cinspiration" class="twitter popup" data-hashtags="adoptacoder"><%= image_tag 'twitter.svg', size: "12" %></a>
              </div>
            </li>

            <li class="small button panel-color no-padding">
              <div>
                <a href="https://plus.google.com/share?url=http%3A//www.adoptacoder.org" class="google popup"><%= image_tag 'google.svg', size: "12" %></a>
              </div>
            </li>

            <!-- FACEBOOK -->
            <li class="small button panel-color no-padding">
              <div>
              <a href="#"
                onclick="
                  window.open(
                    'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                    'facebook-share-dialog',
                    'width=626,height=436');
                  return false;">
                <%= image_tag 'facebook.svg', size: "12" %>
              </a>
              </div>
            </li>

            <!-- EMAIL -->
            <li class="small button panel-color no-padding">
              <div>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site    http://localhost:3000" title="Share by Email"><%= image_tag 'mail.png', size: "15" %></a>
              </div>
            </li>
          </ul>
        </div>
        <!-- END SOCIAL CONTAINER -->
      </div>


    </div>
    </div>
    <!-- END CONTENT CONTAINER -->

    <!-- VIDEO CONTAINER -->
    <div class="small-12 large-6 pull-6 columns">
      <div class=" ">
      <div class="flex-video">
      <iframe src="http://www.youtube.com/embed/<%= Video.find(current_campaign.candidate.profile_video_id).you_tube_code %>?modestbranding=1&&color=white&&rel=0&&showinfo=0&&autohide=1" frameborder="0"></iframe>
      </div>
      </div>
    </div>


  </div>
  <!-- END OF ROW -->


</div>
