<!-- Current Campaign Partial -->
<div class="pure-g-r">

  <h1 class="pure-u-1 pure-coder"><%= current_campaign.candidate.name %></h1>
  <h2 class="pure-u-1-2"><%= current_campaign.total %></h2>
  <h2 class="pure-u-1-2"><%= current_campaign.goal %></h2>

  <div>
    <iframe width="600" height="300" src="http://www.youtube.com/embed/<%= Video.find(current_campaign.candidate.profile_video_id).you_tube_code %>?modestbranding=1&&color=white&&rel=0&&showinfo=0&&autohide=1" frameborder="0"></iframe>
  </div>

  <div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="adoptacoder">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <div>
    <a href="#"
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
          'facebook-share-dialog',
          'width=626,height=436');
        return false;">
      Share on Facebook
    </a>
  </div>

  <div>
    <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site    http://localhost:3000" title="Share by Email">Share by Email</a>
  </div>

  <div>
    <%= link_to 'Read my story >', candidate_path(current_campaign.candidate) %>
  </div>

  <div>
    <a href="#">Donate</a>
  </div>

</div>
