<!-- Current Campaign Partial -->
<div class="">
  <div class="row">
    <div class="small-12 columns">

    </div>
    <div class="small-12 columns">
      <div class="panel">
        <div class="row">
          <div class="small-12 large-3 columns">
            <div class="crop"><p><%= image_tag current_campaign.candidate.profile_image.url, width: "100%" %></p>
            </div>
            <a href="#" class="button success full-width donate-button-auto-margin" data-reveal-id="payment-modal">Contribute</a>
          </div>
          <div class="small-12 large-4 columns">
            <div class="panel">
              <h5 class="subheader center no-margin">Currently crowd-funding a scholarship for</h5>
              <h2 class="candidate-title center no-margin"><%= current_campaign.candidate.name %></h2>
              <h5 class="subheader center">to attend Dev Bootcamp.</h5>
            </div>

            <div class="panel">
              <h5 class="subheader center no-margin no-padding">Time Remaining</h5>
              <ul class="countdown">
                <li> <span class="days">00</span>
                <p class="days_ref ">days</p>
                </li>
                <li class="seperator">.</li>
                <li> <span class="hours">00</span>
                <p class="hours_ref ">hours</p>
                </li>
                <li class="seperator">:</li>
                <li> <span class="minutes">00</span>
                <p class="minutes_ref ">minutes</p>
                </li>
                <li class="seperator">:</li>
                <li> <span class="seconds">00</span>
                <p class="seconds_ref ">seconds</p>
                </li>
              </ul>
            </div>



          </div>
          <div class="small-12 large-5 columns">
            <div class="">
              <h5 class="subheader"><em><%= current_campaign.candidate.name %>:</em></h5>
              <blockquote><%= current_campaign.candidate.mission %></blockquote>
              <h5 class="subheader"><%= link_to 'Read my story >', candidate_path(current_campaign.candidate), class: "right no-margin" %></h5>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <div class="progress primary round progress-auto-margin">
                  <% if current_campaign_percentage < 100 %>
                    <span class="meter" style="width: <%= current_campaign_percentage %>%"><span style="margin-left: 75%"><%= current_campaign_percentage.to_i %>%</span></span>
                    <p class="no-margin no-padding center">of $<%= current_campaign.goal.to_comma %> needed</p>
                  <% else %>
                    <span class="meter" style="width: 100%"><span style="margin-left: 90%"><%= current_campaign_percentage.to_i %>%</span></span>
                    <p class="no-margin no-padding center">of $<%= current_campaign.goal.to_comma %> needed</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CONTENT CONTAINER -->
    <div class="small-12 large-5 push-7 columns">
      <div class="panel">
        <div class="row">

          <div class="small-12 columns center">
            <h2 class="little-bit-of-bottom-margin">$<%= (current_campaign.goal - current_campaign.total).to_comma %><small> to go!</small></h2>
            <h3 class="little-bit-of-bottom-margin">$<%= current_campaign.total.to_comma %><small> contributed so far</small></h3>
            <h3 class="little-bit-of-bottom-margin">$<%= current_campaign.goal.to_comma %><small> is <%= current_campaign.candidate.name %>'s goal!</small></h3>
            <div class="lots-of-margin"> </div>

            <h4 class="subheader little-bit-of-bottom-margin"><strong><%= current_campaign.donations.count %></strong> contributions</h4>
            <h5 class="subheader little-bit-of-bottom-margin"> have been made by </h5>
            <h4 class="subheader little-bit-of-bottom-margin"><strong><%= current_campaign.donors.uniq.count %></strong> people.</h4>
          </div>

          <div class="small-12 columns little-bit-of-bottom-margin center">
            <a href="#" class="button success no-margin" data-reveal-id="payment-modal">Contribute</a>
          </div>
        </div>
        <div class="row">

        <!-- SOCIAL CONTAINER -->
        <div class="small-12 columns">
          <ul class="button-group no-padding lots-of-margin right">

            <!-- TWITTER -->
            <li class="small button panel-color no-padding no-border social-tiny">
              <div>
                <a href="https://twitter.com/share?text=This coder inspires me! Read their story... http://bit.ly/1bPcb7p&hashtags=adoptacoder%2Cinspiration" class="twitter popup" data-hashtags="adoptacoder"><i class="fa fa-twitter"></i></a>
              </div>
            </li>

            <li class="small button panel-color no-padding no-border social-tiny">
              <div>
                <a href="https://plus.google.com/share?url=http%3A//www.adoptacoder.org" class="google popup"><i class="fa fa-google-plus"></i></a>
              </div>
            </li>

            <!-- FACEBOOK -->
            <li class="small button panel-color no-padding no-border social-tiny">
              <div>
              <a href="#"
                onclick="
                  window.open(
                    'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                    'facebook-share-dialog',
                    'width=626,height=436');
                  return false;">
                <i class="fa fa-facebook"></i>
              </a>
              </div>
            </li>

            <!-- EMAIL -->
            <li class="small button panel-color no-padding no-border social-tiny">
              <div>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site    http://localhost:3000" title="Share by Email"><i class="fa fa-envelope"></i></a>
              </div>
            </li>

          </ul>

        </div><!-- END SOCIAL CONTAINER -->

      </div><!-- END ROW -->
    </div><!-- END PANEL -->
  </div>
    <!-- END CONTENT CONTAINER -->

    <!-- VIDEO CONTAINER -->
    <div class="small-12 large-7 pull-5 columns">
      <div class=" ">
      <div class="flex-video">
      <iframe src="http://www.youtube.com/embed/<%= Video.find(current_campaign.candidate.profile_video_id).you_tube_code %>?modestbranding=1&&color=white&&rel=0&&showinfo=0&&autohide=1" frameborder="0"></iframe>
      </div>
      </div>
    </div>


  </div>
  <!-- END OF ROW -->

  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <h5>Recent Contributions</h5>
        <ul class="inline-list">
        <% recent_donations.each do |donation| %>
          <li>
            <span><strong>$<%= donation.amount %> </strong> courtesy of...</span>
            <h6><%= donation.donor.name %></h6>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>


</div>
