<!-- Current Campaign Partial -->
<div class="">
  <div class="row">
    <!-- VIDEO CONTAINER -->
    <div class="small-12 large-7 columns">
      <div class="panel radius">
      <div class="flex-video">
      <iframe src="http://www.youtube.com/embed/<%= Video.find(current_campaign.candidate.profile_video_id).you_tube_code %>?modestbranding=1&&color=white&&rel=0&&showinfo=0&&autohide=1" frameborder="0"></iframe>
      </div>
      </div>
    </div>
    
    <!-- CONTENT CONTAINER -->
    <div class="small-12 large-5 columns">
      <div class="panel radius">

      <div class="panel callout radius">
        <h5>Currently funding...</h5>
        <h1 class="candidate-title"><%= current_campaign.candidate.name %></h1>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= link_to 'Read my story >', candidate_path(current_campaign.candidate), class: "button secondary radius" %>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button success radius" data-reveal-id="payment-modal">Donate</a>
        </div>
      </div>

      <div class="panel radius">
        <h4>Time Remaining</h4>
        <ul class="countdown">
          <li> <span class="days">00</span>
          <p class="days_ref">days</p>
          </li>
          <li class="seperator">.</li>
          <li> <span class="hours">00</span>
          <p class="hours_ref">hours</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
          <p class="minutes_ref">minutes</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
          <p class="seconds_ref">seconds</p>
          </li>
        </ul>
      </div>

      <!-- SOCIAL CONTAINER -->
      <div class="social-container">
        <ul class="button-group">

          <!-- TWITTER -->
          <li class="small button secondary">
            <div>
              <a href="https://twitter.com/share?text=This coder inspires me! Read their story... http://bit.ly/1bPcb7p&hashtags=adoptacoder%2Cinspiration" class="twitter popup" data-hashtags="adoptacoder"><%= image_tag 'twitter.svg', size: "18" %></a>
            </div>
          </li>

          <li class="small button secondary">
            <div>
              <a href="https://plus.google.com/share?url=http%3A//www.adoptacoder.org" class="google popup"><%= image_tag 'google.svg', size: "18" %></a>
            </div>
          </li>

          <!-- FACEBOOK -->
          <li class="small button secondary">
            <div>
            <a href="#"
              onclick="
                window.open(
                  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                  'facebook-share-dialog',
                  'width=626,height=436');
                return false;">
              <%= image_tag 'facebook.svg', size: "18" %>
            </a>
            </div>
          </li>

          <!-- EMAIL -->
          <li class="small button secondary">
            <div>
              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site    http://localhost:3000" title="Share by Email"><%= image_tag 'mail.png', size: "21" %></a>
            </div>
          </li>
        </ul>
      </div>
      <!-- END SOCIAL CONTAINER -->


    </div>
    </div>
    <!-- END CONTENT CONTAINER -->


  </div>
  <!-- END OF ROW -->


  <div class="row">

    <div class="small-12 columns">
      <span class="dollars left">$ <%= current_campaign.total %></span>
      <span class="dollars right">$ <%= current_campaign.goal %></span>      
      <div class="tall progress success radius">
        <span class="meter" style="width: <%=current_campaign.total/current_campaign.goal.to_f*100%>%"></span>
      </div>
    </div>

  </div>

</div>
