<div class='row'>
  <h1>Donation Receipt</h1>
  <h3> <%= @donor.name %>, Thank You For Donating! </h3>

  <h4>Donation Information:</h4>
  <p>Donated to: <%= current_campaign.candidate.name  %> </p>
  <p>Amount Donated: $<%= @donation.amount  %> </p>

  <h4>What Now?</h4>
  <p>Now that you have made a donation to our current campaign for <%= current_campaign.candidate.name  %>, we would like to invite you to nominate one of  current candidates for our next campaign.  Follow the link below to see a list of the current candidates and view their profile page to help narrow down who you would like to nominate.  </p>

  <%= link_to "See All Candidates", candidates_path
  %>

</div>