<div class='row'>
  <h2>Donation Receipt</h2>

  <h4>Donation Information:</h4>
  <p>Donated to: <%= current_campaign.candidate.name  %> </p>
  <p>Amount Donated: $<%= @donation.amount  %> </p>

  <p><% @donor.name %>,</p>

  <p>  Thank you so much for your donation.  You are bringing me that much closer to living the life that I have dreamed for.  If you would like to hear of my experience at DBC, please look for updates on my profile.  Please see below how you can continue helping by nominating someone to receive a future just like I have.

  Thanks again,
  <%=  current_campaign.candidate.name %></p>

  <h4>What Now?</h4>
  <p>Now that you have made a donation to our current campaign for <%= current_campaign.candidate.name  %>, we would like to invite you to nominate one of  current candidates for our next campaign.  Follow the link below to see a list of the current candidates and view their profile page to help narrow down who you would like to nominate.  </p>

  <%= link_to "See All Candidates", candidates_path, class: 'button'
  %>

</div>