<!DOCTYPE html>
<html>
<head>
  <title>AdoptACoder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">Stripe.setPublishableKey('pk_test_oRsat9T97yBaR68ncNtQ81Xz');</script>
  
</head>
<body>

<%= render "home/nav" %>

<%= yield %>

<%= render "home/footer" %>

</body>
</html>
